@charset "utf-8";
/* CSS Document */



html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";*/
	font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif; 
}
html{

	margin-left: auto;
	margin-right: auto;
	height:100%;
}
body{

	font-family:'Work Sans',sans-serif;
	/*font-size:12px;*/
	/*line-height:18px;*/
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	background-color:#E30480;
	background-image: url("../images/dot.png");

}
