/* スタイル */
body {
  font-family: 'Arial', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif; /* 初期設定 */
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

/* header */
header {
  background-color: #ff6699;
  color: white;
  padding: 10px;
  text-align: center;
  border-bottom: solid 10px #ffcc00;
  border-top: solid 10px #ffcc00;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

/* Title */
.title {
    text-align: center;
    margin: 20px 0;
}

.title p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

/* Online Status */
.online-status {
    text-align: center;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    animation: fadeBlink 2s infinite;
}

.online-status p {
    margin: 0;
}

@keyframes fadeBlink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* User Card */
.user-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    transition: opacity 0.5s;
}

.user-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info-main {
    flex-grow: 1;
}

.user-info-main h3,
.user-info-main p {
    margin: 0;
    font-size: 14px; /* 例として、小さめのフォントサイズを設定 */
}

.card-introduction {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Maximum 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Adjust as needed */
    max-height: 3.6em; /* Adjust based on text height */
    line-height: 1.8em; /* Adjust based on line height */
}

.card-introduction.long-text {
    -webkit-line-clamp: unset; /* Remove 2-line limit if text is longer */
    max-height: unset; /* Remove height limit */
    white-space: normal; /* Allow text to wrap */
}

.talk-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px; /* Increase padding for larger button size */
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 14px; /* Increase font size for larger button text */
    white-space: nowrap; /* Ensure button text remains on one line */
}

.talk-button:hover {
    background-color: #0056b3;
}

.time-ago {
    font-size: 10px; /* Reduce font size for the time ago text */
}
